@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: black;
    color: white;
}
.hamburger{
    
}

.hamburger .lines{
    /* transform: matrix(1, 0, 0, 1, 0, 0); */
    display: inline-block;
    position: relative;
    height: 2px;
    background: #F7F7F7;
    transform: translateX(-50px);
}